/**
 * The following styles get applied on the frontend only.
 */

.uds-wchm-list input {
  padding: 15px;
  width: 80%;
  background: #fff;
  border: 1px solid #bfbfbf;
}

.uds-wchm-list input + div {
  z-index: 999;
  position: relative !important;
  left: 0 !important;
  top: 0 !important;
}

.uds-wchm-list input + div div {
  padding: 10px 15px;
  cursor: pointer;
}
