**/*.min.js
**/*.build.js
**/node_modules/**
**/vendor/**
**/build/**
wordpress*/
*.cache
.ftppass
coverage/
./cypress/
.dev/tests/cypress/screenshots
.dev/tests/cypress/snapshots
sftp.json
sandbox.json
/.idea/
**/.DS_Store
languages/unityblocks-js.pot
languages/*-unityblocks-editor.json
languages/*.mo
languages/*.po
cypress.env.json
