/**
 * The following styles get applied inside the editor only.
 */

.components-input-control__container > select[multiple] {
  height: auto  !important;
  padding-right: 8px;

  option {
    white-space: normal;

    // &:nth-of-type(2n) {
    // 	background-color: #efefef;
    // }
  }
}
.uds-w-100 {
	width:100%;
}
