/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

ul.list-unstyled {
	li {
		margin-bottom: 20px;
	}
}

form.jobTypeSelect {
	margin-bottom: 1rem;

	label {
		font-size: 1rem !important;
		font-weight: bold !important;
		display: inline-block !important;
		margin-bottom: 0.5rem;
		text-transform: none !important;
	}

	.components-input-control__container {
		padding: 0.5rem 0.5rem;
		border: 1px solid #ced4da !important;
		border-radius: 0;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		outline: none;

		select {
			width: 100% !important;
			height: auto !important;
			padding: 0.5rem 0.5rem !important;
			font-size: 1rem !important;
			font-weight: 400;
			line-height: 1.5 !important;
			color: #495057 !important;
		}
		.components-input-control__backdrop {
			border: 0;
		}
	}
}
.uds-asu-careers-listing {
  .uds-asu-careers-selection {
    padding: 0.25rem;
  }
  .career-icon{
  width: 55px;
  height: 55px;
      position: relative;
    svg{
      transform: translate(-50%,-50%);
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  li:not(:last-child){
    .single-job{
      border-bottom: 1px solid #dee2e6;
    }
  }
}
