// stylelint-disable selector-type-no-unknown

.wp-block-unityblocks-accordion.alignfull {
	padding: 0 12px;
}

_:-ms-fullscreen,
:root .wp-block-unityblocks-accordion summary {
	display: block;
}

_:-ms-lang(x),
_:-webkit-full-screen,
.wp-block-unityblocks-accordion summary {
	display: block;
}
